{% extends 'base.html' %}

{% block head %}
    <title>Riset</title>
{% endblock %}


{% block body %}
    <div class ="container" style="padding-top:100px;"></div>

  

    <div class="container" style="padding-bottom: 10px;">
        <h4>Jawa Barat</h4>
        <a href="https://drive.google.com/open?id=1-xwW6-7bI97vQ8fNSKuO8NXbTL0cxkj3">linknya disini</a> 
    </div> 

    <div class="container" style="padding-bottom: 10px;">
        <h4>Jawa Tengah</h4>
        <a href="https://drive.google.com/open?id=1ZFZ7-x_pRM7PTCsEold5HDy3CVSrx9KS">linknya disini</a>    
    </div> 

    <div class="container" style="padding-bottom: 10px;">
        <h4>Jawa Timur</h4>
        <a href="https://drive.google.com/open?id=1PfpnWvP6dTgZh1jQaeWrbdY5AsOm8Y8a">linknya disini</a>    
    </div> 

    <div class="container" style="padding-bottom: 10px;">
        <h4>Maluku</h4>
        <a href="https://drive.google.com/open?id=1bhsHf6kFhknjTLItyiGlx9zPnBQRRFNr">linknya disini</a>    
    </div> 

    <div class="container" style="padding-bottom: 10px;">
        <h4>Maluku Utara</h4>
        <a href="https://drive.google.com/open?id=1m42MepZylsVXQNzb-770aEOqOrM0giej">linknya disini</a>    
    </div> 

    <div class="container" style="padding-bottom: 10px;">
        <h4>Papua</h4>
        <a href="https://drive.google.com/open?id=16vtyaaR_Iwl6Hfd6vkt-ykYeqBPI5NLW">linknya disini</a>    
    </div> 

    <div class="container" style="padding-bottom: 10px;">
        <h4>Papua Barat</h4>
        <a href="https://drive.google.com/open?id=1ci8o-JWH21pxIrNC3mvMWJ1IMtMLyAto">linknya disini</a>    
    </div> 

    <div class="container" style="padding-bottom: 10px;">
        <h4>Sulawesi Tenggara</h4>
        <a href="https://drive.google.com/open?id=1I5P0z8AzvD8ggpM_mZHLngqQrixO0Ubs">linknya disini</a>    
    </div> 

    <div class="container" style="padding-bottom: 10px;">
        <h4>Sumatera Barat</h4>
        <a href="https://drive.google.com/open?id=1TsX9NnIXKoSSpFv5dw3po5Gau5bKCUhC">linknya disini</a>    
    </div> 

    <div class="container" style="padding-bottom: 10px;">
        <h4>Yogyakarta</h4>
        <a href="https://drive.google.com/open?id=1UhlNhs3WoB2uOkkb_L9hqsjguh4BpHLL">linknya disini</a>    
    </div> 



{% endblock %}