{% extends 'base.html' %}


{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/articlestyle.css' %}" type="text/css">
<title>Tentang</title>
{% endblock %}

{% block body %}
<div class="container" style="padding-top:60px;">

</div>

<div class="container">
<section id="tentang">
    <body>
        <div class="tabs">
        <input type="radio" name="tabs" id="tabone" checked="checked">
        <label for="tabone">Tentang Kami</label>
        <div class="tab">
            <p style="text-align:justify;">Forum Perguruan Tinggi untuk Pengurangan Risiko Bencana (FPT-PRB) berfungsi sebagai pemimpin isu upaya pengurangan risiko bencana di kalangan perguruan tinggi di Indonesia. FPT-PRB dibentuk pada tanggal 19 November 2008 di Jakarta dalam pertemuan perwakilan dari pusat-pusat studi bencana yang berasal dari berbagai perguruan tinggi dengan didukung oleh Badan Nasional Penanggulangan Bencana (BNPB) dan United Nations Development Programme (UNDP).

                Latar belakang pembentukan FPT-PRB dilandasi oleh semakin meningkatnya jumlah dan jenis kejadian bencana di Indonesia pada akhir-akhir ini, dengan jumlah kerugian yang sangat besar dan berdampak buruk bagi keberlanjutan pembangunan di Indonesia. Untuk meningkatkan rasa aman dari risiko bencana upaya PRB secara sistematis sudah menjadi sesuatu hal yang sangat mendasar bagi bangsa Indonesia. Selain itu ada kebutuhan-kebutuhan tertentu bagi terbentuknya FPT-PRB antara lain sebagai berikut:
                
                Mengembangkan pengetahuan PRB melalui pendidikan dan penelitian serta penerapannya di masyarakat.
                Membangun kemampuan pendidikan PRB untuk memenuhi kebutuhan di masyarakat.
                Membangun sinergi antara peneliti dan praktisi PRB di lapangan.
                Menyampaikan pengetahuan PRB yang berkembang di perguruan tinggi kepada masyarakat luas.
                FPT-PRB merupakan salah satu unsur dalam Platform Nasional Pengurangan Risiko Bencana (Planas PRB). Planas PRB sendiri adalah sebuah forum independen yang dibentuk untuk mendorong serta memfasilitasi kerjasama antar berbagai pihak dalam upaya PRB di Indonesia. Planas PRB berupaya mewadahi semua kepentingan terkait kebencanaan, serta membantu menyelaraskan berbagai kebijakan, program dan kegiatan PRB di tingkat pusat, agar dapat mendukung tercapainya tujuan-tujuan PRB Indonesia dan terwujudnya ketahanan dan ketangguhan bangsa terhadap bencana, selaras dengan tujuan-tujuan Kerangka Aksi Hyogo.
            </p>   

            <h1>Dasar Pemikiran</h1>
            <p style="text-align:justify;">
                    Pada 2017, FPT PRB berstatus badan hukum Perkumpulan. Perkumpulan didirikan dengan dasar pemikiran sebagai berikut: Indonesia adalah negara yang rawan dengan ancaman bencana, baik dari aspek geografis, geologis, hydrologis maupun demografis. Meskipun Indonesia telah mencapai kemajuan yang signifikan dalam membangun kerangka kelembagaan untuk pengurangan risiko bencana serta meningkatkan kesiapsiagaan bencana, namun perbaikan masih harus dibuat dalam meningkatkan agenda risk assessment and monitoring, early warning systems, penggunaan pengetahuan, inovasi dan pendidikan untuk membangun budaya keselamatan dan ketahanan di semua tingkat. Dengan latar belakang tersebut, ada ekspektasi terhadap pendidikan tinggi untuk memberikan kontribusi dalam pengurangan risiko bencana secara lebih profesional yang didasarkan pengetahuan ilmiah yang diperlukan untuk meningkatkan agenda ke tingkat yang diinginkan.

                    Menyadari bahwa pengurangan risiko bencana merupakan tanggung jawab bersama, maka para akademisi dari kalangan perguruan tinggi di Indonesia, yang peduli terhadap pengurangan risiko bencana, berhimpun untuk dapat berperan secara aktif dalam mewujudkan upaya pengurangan risiko bencana.
                
            </p>
        </div>
        
        <input type="radio" name="tabs" id="tabtwo">
        <label for="tabtwo">Visi dan Misi</label>
        <div class="tab">
            
                <center><h1><b>Visi</b></h1></center>
                <center><i>"Indonesia menjadi Negara yang terkemuka dalam pengembangan dan penerapan ilmu pengetahuan dan teknologi di bidang pengurangan risiko bencana di Indonesia."</i></center>

                <h1>Misi</h1>
                Sebagai wahana untuk berjejaring dan berbagi dalam bidang:
                
                <p>1. Academic exellence - melakukan kegiatan pengkajian secara teoritik dan empirik tentang pengurangan risiko bencana secara multidisiplin;</p>
                <p>2. Capacity building - mengembangkan sumber daya manusia dalam pengurangan risiko bencana/ penanggulangan bencana melalui pendidikan dan pelatihan;</p> 
                <p>3. Advocacy - melakukan advokasi dan memberikan bantuan teknis kepada masyarakat yang terancam bencana.</p>
            
        </div>
        
        <input type="radio" name="tabs" id="tabthree">
        <label for="tabthree">Struktur Organisasi</label>
        <div class="tab">
            <h1><b>Pengurus FPT PRB 2019 – 2021</b></h1>
            <h4><b>Dewan Pengawas</b></h4>		
            <p>Sugeng Triutomo, Krishna Suryanto Pribadi, Djati Mardianto, Amien Widodo, Euis Sunarti.</p>
        
            <h4><b>Pengurus:</b></h4>
           <p>
                Ketua: Eko Teguh Paripurno<br>
                Sekretaris		: Sorja Koesuma<br>
                Bendahara		: Tukino<br>
                Pendidikan		: Ananto Aji<br>
                Penelitian		: Dicky Paluppesy<br>
                Pengabdian Masyarakat		: Endang Hilmi<br>
                Kerjasama dan Jejaring	: Nuraini Rahma Hanifa<br>
            </p>
                <h4><b>Koordinator Wilayah:</b></h4>
            <p>
                1. Sumatera		: Khairul Munadi<br>
                2. Kalimantan	: Gusti Z Mulki<br>
                3. Maluku 		: Ferad Puturuhu<br>
                4. Bali, NTB, NTT	: I Nyoman Sutarja<br>
                5. Papua – Papua Barat	: Hendri<br>
                6. Jawa			: Aviati <br>
                7. Sulawesi		: Jamhir Safani<br>

            </p>
                <h4><b>Koordinator Provinsi:</b></h4>
            <p>
                1. Sumatera Barat	: Nafryzal Carlo<br>
                2. Jawa Tengah		: Kuswaji<br>
                3. Jawa Timur		: Christijogo Sumartono<br>
                4. Sulawesi Tenggara	: Jamhir Safani<br>
                5. Maluku		: Ferad Puturuhu<br>
                6. Maluku Utara	: Jefry Bemba<br>
                7. Papua		: Elisabeth Wambrauw<br>
                8. Papua Barat		: Hendri<br>
            </p> 
        </div>
        </div>
    </body>
</section>
</div>
{% endblock %}
